// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// CUSTOM

.input_border{
	border-radius: 1em !important; 
}

.botonCus {
	
    padding: 0% !important;

}

.row{
	margin-bottom: 2%;
}

.custom-file{
  border-style: solid;
  // padding:2px;
  width: 49%;
}

.colorBlue{
  background-color: #50A3B9 !important;
}

.colorWhite{
  color: white !important;
}


